APP_PORT=8083
APP_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop_secret
POSTGRES_DB=order_db
POSTGRES_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
CART_TTL_HOURS=720

PRODUCT_SERVICE_URL=http://localhost:8082
AUTH_SERVICE_URL=http://localhost:8081

KAFKA_BROKERS=localhost:9092
