APP_PORT=8082
APP_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop_secret
POSTGRES_DB=product_db
POSTGRES_SSLMODE=disable

MONGO_URI=mongodb://localhost:27017
MONGO_DB=shop

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=products

KAFKA_BROKERS=localhost:9092
