PORT=8084
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=shop_chat
REDIS_URL=redis://localhost:6379/0
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyU4xsU/jGkrUmzUt+bqO\nACEhJO3gM7RWnaFQ65eDb59RLnh6G/SsPXqiV9uZeZLBXezItAC0WsR640s94DJR\nknTvJQcq6W/uICGaB3GVYYlGSeOOyA2jwkCOEkjBKpW9I/SdfLcluk6y6vSIJTbp\nJ8fFKwB6PWaIF9Xc2VJbXbzdxzQ9TqS1ykfCjc2AjfsTaALR3efp30HxNNuq9DTT\n0RUGOa6KaxJq7WNqQQMjurUgjbAWcRfeAhXqjpaD1qyCyqcaHuVR4/3UYt/6a95r\nPo+CUASXTRgLowpiGp3032qXgDwL5gS2JwMURMuM6FnjGA1Avznjzf9mgawgpxaZ\nMwIDAQAB\n-----END PUBLIC KEY-----"
RASA_SERVICE_URL=http://localhost:8090
